<h2>Билети</h2>
<table>
  <tr><td width="10px" bgcolor="#556b2f"></td><td>градски линии</td><td width="10px" bgcolor="#cd5c5c"></td><td>сите линии</td></tr>
</table>
<div class="bilet-container">
  <div class="bilet">
    <div class="naziv">Билет за едно возење</div>
    <div class="ceni">
      <div class="site"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 35 ден.</div>
      <div class="site"><img [src]="'assets/images/mobilen.png'" alt="logo mobilen" valign="middle"/> &nbsp; 40 ден.</div>
      <div class="site"><img [src]="'assets/images/hartija.png'" alt="logo kartija" valign="middle"/> &nbsp; 50 ден.</div>
    </div>
  </div>
  <div class="bilet">
    <div class="naziv">Ноќен билет за едно возење</div>
    <div class="ceni">
      <div class="site"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 40 ден.</div>
      <div class="site"><img [src]="'assets/images/mobilen.png'" alt="logo mobilen" valign="middle"/> &nbsp; 50 ден.</div>
      <div class="site"><img [src]="'assets/images/hartija.png'" alt="logo kartija" valign="middle"/> &nbsp; 50 ден.</div>
    </div>
  </div>
  <div class="bilet">
    <div class="naziv">
      <div>Билет за десет возења</div>
      <div class="objasnuvanje">важи 15 дена (сметано од првата валидација)</div>
    </div>
    <div class="ceni">
      <div class="gradski"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 250 ден.</div>
      <div class="site"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 300 ден.</div>
    </div>
  </div>
  <div class="bilet">
    <div class="naziv">Временски билет од 90 минути</div>
    <div class="ceni">
      <div class="site"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 60 ден.</div>
    </div>
  </div>
  <div class="bilet">
    <div class="naziv">Дневен билет</div>
    <div class="ceni">
      <div class="gradski"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 120 ден.</div>
      <div class="site"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 150 ден.</div>
    </div>
  </div>
  <div class="bilet">
    <div class="naziv">
      <div>Седумдневен билет со повеќе возења</div>
      <div class="objasnuvanje">еден билет за Жичарница и лифт на Крстот</div>
    </div>
    <div class="ceni">
      <div class="gradski"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 500 ден.</div>
      <div class="site"><img [src]="'assets/images/karticka.png'" alt="logo karticka" valign="middle"/> &nbsp; 600 ден.</div>
    </div>
  </div>
  <div class="bilet">
    <div class="naziv">
      <div>Месечен билет</div>
      <div class="objasnuvanje">ученици, студенти, пензионери</div>
    </div>
    <div class="ceni">
      <div class="site"><img [src]="'assets/images/personalna.png'" alt="logo karticka" valign="middle"/> &nbsp; 1500 ден.</div>
    </div>
  </div>
  <div class="bilet">
    <div class="naziv">
      <div>Месечен билет</div>
    </div>
    <div class="ceni">
      <div class="gradski"><img [src]="'assets/images/personalna.png'" alt="logo karticka" valign="middle"/> &nbsp; 1400 ден.</div>
      <div class="site"><img [src]="'assets/images/personalna.png'" alt="logo karticka" valign="middle"/> &nbsp; 1600 ден.</div>
    </div>
  </div>
</div>
